<html>

<head>
    <base href="/infoprediksi/">
    <title>Info Potensi Hujan Harian Berbasis Dampak</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title"
        content=" Info potensi curah hujan harian yang berbasis potensi dampak hujan lebat di Wilayah Indonesia. Sumber data berasal dari BMKG-Signature yang diakses secara live.">
    <meta property="og:image" itemprop="image" content="img/satgas.png">
    <meta property="og:url" content="https://sitaba-dev.pu.go.id/infoprediksi">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="css/style.css" />


</head>

<body>
    <div class="row mh-100">
        <div class="col-md-3 col-sm-12 pe-0">
            <div class="row">
                <nav class="col-12 navbar sticky-top navbar-dark bg-navy shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="img/satgas.png" alt="" width="30" height="30"
                                class="d-inline-block align-text-center"><span class="judul text-wrap m-0"> Info Potensi
                               Hujan
                                Harian Berbasis Dampak</span></a>
                    </div>
                </nav>
            </div>
            <div class="container mt-4 sidebar overflow-auto">
                <div class="justify-content-center">
                    <div class="col-12 bd-highlight">

                        <div class="alert info mt-4">
                            Info Potensi Hujan Harian ini berlaku untuk hari <span class="tanggal"></span><br><br>
                            <h6 class="fst-italic mb-0">Sumber data : <b>Signature - BMKG</b></h6>
                            <h6 class="fst-italic">Diakses pada : <span class="jam"></span></h6>
                        </div>
                    </div>
                    <div class="col-12 bd-highlight mt-5">
                        <h5>Provinsi Berpotensi Terdampak Hujan Lebat</h5>
                        <hr />
                        <div class="prov-list text-center">
                            <img id="loading" src="img/loading.gif" style="display:none; height: 100px; width:100px" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="logo mb-2">
                        <img src="img/Logo-BMKG.png" class="img-fluid mr-4" width="20%" /><img class="img-fluid"
                            src="img/pupr-sigap.png" width="70%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="map-wrapper">
                <div id="mapid" style="height:100vh; width: 100%;"><button type="button" class="scroll-top"><i
                            class="fas fa-angle-up"></i></button>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <script src="plugins/leaflet/leaflet.ajax.min.js"></script>
    <script src="plugins/leaflet/leaflet.provider.js"></script>
    <script src="plugins/moment/moment.locales.min.js"></script>


    <!-- Yang paling penting -->
    <script src="js/infoprediksi.js"></script>
    <script src="js/tabel_terdampak.js"></script>
    <script src="js/tanggal.js"></script>

</body>

</html>