@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

html,
body {
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

.awas {
  background-color: #ff936b;
}

.siaga {
  background-color: #f7c648;
}

.waspada {
  background-color: #fff373;
}

.bg-navy {
  background-color: #000080;
}

.info {
  background-color: #d7f6f7;
  color: #000;
}

.navbar.navbar-dark {
  margin-right: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.judul {
  /* font-size: calc(0.5em + (26 - 12) * ((100vw-300px) / (1600 - 300))); */
  font-size: calc(0.35em + 0.45vw);
  font-weight: 600;
  word-wrap: break-word;
}
.scroll-top {
  display: none;
}

.sidebar {
  max-height: 100vh;
}

.map-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  flex: 1;
  z-index: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.matrix {
  font-size: 1.05em;
}

.imp {
  font-size: 0.75em;
}

td {
  padding: 7px;
}

.aman {
  background-color: #57cf17;
}

.waspada {
  background-color: #f2e529;
}

.siaga {
  background-color: #f0bd24;
}

.awas {
  background-color: #ff684a;
}

.num {
  border: 1px solid #000;
  font-weight: 500;
}

.rotate {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}

.rotate div {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  /* FF3.5+ */
  -o-transform: rotate(-90deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);
  /* Saf3.1+, Chrome */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* IE8 */
  margin-left: -10em;
  margin-right: -10em;
}

@media not all and (min-resolution: 0.001dpcm) {
  .logo {
    display: block;
  }
}
/* Landscape phone to portrait tablet  show the button */

@media (max-width: 767px) {
  .scroll-top {
    display: block;
    position: absolute;
    right: 30px;
    width: 50px;
    bottom: 30px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    opacity: 0.6;
    font-size: 40;
    font-weight: bold;
    z-index: 500;
  }
  .judul {
    font-size: calc(0.7em + 0.7vw);
    font-weight: 600;
    word-wrap: normal;
  }
  .scroll-top:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
